@page "/unpark"
@using CPM.Shared.DTO
@inject IParkService ParkService

<PageTitle>Unpark</PageTitle>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="numberPlate" >Number Plate</label>
            <input @bind="numberPlate" type="text" class="form-control" id="numberPlate" placeholder="Enter number plate">
        </div>
    </div>
    <div class="col-md-12 mt-2">
        <button @onclick="unPark" type="submit" class="btn btn-primary">Submit</button>
    </div>
    @* show status *@
    <div class="col-md-12 mt-2">
        @* red color *@
        <p class="@statusColor">@status</p>
    </div>
    @if (entry != null)
    {
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">
                    <span>Car Number: @entry.NumberPlate</span>
                    <br />
                    <span>Date & Time of Entry: @entry.From.ToString(dateFormat)</span>
                    <br />
                    <span>Date & Time of Exit : @entry.To.ToString(dateFormat)</span>
                    <br />
                    <span> Parking Time: @parkingTime()</span>
                    <br />
                    <span>Total Amount: MR @entry.Amount</span>
                </p>
            </div>
        </div>
    }
</div>


@code {
    private string? numberPlate;
    private string? status;
    private string statusColor = "text-danger";
    private EntryDTO? entry;
    private string dateFormat = "dd/MM/yy 'at' hh:mm tt";
    
    private async void unPark()
    {
        // call parking service park method
        if (numberPlate == null)
        {
            status = "Please enter a number plate";
            return;
        }

        var (response, error) = await ParkService.UnPark(numberPlate);
        if (error != null)
        {
            numberPlate = null;
            entry = null;
            status = error.Message;
            statusColor = "text-danger";
        }
        else
        {
            status = "Success";
            statusColor = "text-success";
            entry = response;
        }
        // change status from ui
        StateHasChanged();
    }

    // parking time in 1.30 where 1 is hour and 30 is minutes
    private string parkingTime()
    {
        if (entry == null)
            return "";
            
        var time = entry.To - entry.From;
        // total hour and minute, it can be many days but show in hour and minute
        var hour = time.Hours + (time.Days * 24);
        return $"{hour}.{time.Minutes}";
    }
}
