@page "/unpark"
@using CPM.Shared.DTO
@inject IParkService ParkService

<PageTitle>Unpark</PageTitle>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="numberPlate" >Number Plate</label>
            <input @bind="numberPlate" type="text" class="form-control" id="numberPlate" placeholder="Enter number plate">
        </div>
    </div>
    <div class="col-md-12 mt-2">
        <button @onclick="unPark" type="submit" class="btn btn-primary">Submit</button>
    </div>
    @* show status *@
    <div class="col-md-12 mt-2">
        @* red color *@
        <p class="@statusColor">@status</p>
    </div>
    @if (entry != null)
    {
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">
                    <span>@entry.NumberPlate</span>
                    <br />
                    <span>@entry.From</span>
                    <br />
                    <span>@entry.To</span>
                    <br />
                    <span>@entry.ParkingTime</span>
                    <br />
                    <span>@entry.Amount</span>
                </p>
            </div>
        </div>
    }
</div>


@code {
    private string? numberPlate;
    private string? status;
    private string statusColor = "text-danger";
    private EntryUnParkDTO? entry;
    
    private async void unPark()
    {
        // call parking service park method
        if (numberPlate == null)
        {
            status = "Please enter a number plate";
            return;
        }

        var response = await ParkService.UnPark(numberPlate);
        if (response.ErrorStatus != null)
        {
            numberPlate = null;
            entry = null;
            status = response.ErrorStatus.Message;
            statusColor = "text-danger";
        }
        else
        {
            status = "Success";
            statusColor = "text-success";
            entry = response.Data;
        }
        // change status from ui
        StateHasChanged();
    }
}
